<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="newRelic" type="NewRelic.Microsoft.SqlServer.Plugin.Configuration.NewRelicConfigurationSection, NewRelic.Microsoft.SqlServer.Plugin" />
  </configSections>
  <newRelic>
    <service licenseKey="FooGuid" pollIntervalSeconds="45" useSsl="true" />
    <sqlServers>
      <sqlServer name="Local" connectionString="Server=.;Database=master;Trusted_Connection=True;" includeSystemDatabases="true"/>
      <sqlServer name="Important Server" connectionString="Server=192.168.10.123,1234;Database=master;User Id=foo;Password=bar;">
        <includes>
          <database name="Northwind"/>
        </includes>
        <excludes>
          <database name="foo*"/>
          <database name="bar%"/>
        </excludes>
      </sqlServer>
    </sqlServers>
  </newRelic>
</configuration>