<?xml version="1.0"?>

<configuration>
	<configSections>
		<section name="newRelic"
		         type="NewRelic.Microsoft.SqlServer.Plugin.Configuration.NewRelicConfigurationSection, NewRelic.Microsoft.SqlServer.Plugin" />
	</configSections>

	<appSettings>
		<!--
			Proxy Settings [Optional]
		
			proxyAddress 
				Defines the address of the target proxy
		
			username 
				Defines the username to log onto the proxy. This name can be prefixed with the
				appropriate domain for example "OFFICE\jsmith"
		
			password 
				Defines the password for the above account, used when initiating a request through the proxy
			
			<add key="proxyAddress" value="http://proxyaddress"/>
			<add key="username" value="OFFICE\jdoe"/>
			<add key="password" value="p@ssw0rd"/>
		-->		
	</appSettings>
	<newRelic>
		<!-- 
			licenseKey [Required]
			==========
			Specify your New Relic license key.
			######

			pollIntervalSeconds [Default: 60]
			======
			Specify the frequency of the polling in seconds.
			######
		-->
		<service licenseKey="YOUR_KEY_HERE" pollIntervalSeconds="60" />
		<!-- List of SQL Server instances. Server 2008, 2008 R2, and 2012 supported. -->
		<sqlServers>
			<!-- 
				name [Required]
				==========
				Unique (within this set) name of the SQL Server to be monitored. This name appears on the New Relic dashboard.
				##########
    
				connectionString [Required]
				======
				Connection string to the SQL Server.
				######
      
				includeSystemDatabases [Optional]
				======
				Indicates if the system databases (tempdb, master, model, msdb) should be included in metric gathering.
				Defaults to false
				######
								
				sqlServer can contain the following elements:
				
					Include OR Exclude database from metric gathering reporting

					includes [Optional]
					==========
					Contains a set of database elements that define explicitly which databases will be included in metric gathering. 
					
					excludes [Optional]
					==========
					Contains a set of database elements that define explicitly which databases will be excluded from metric gathering. 
					########
						
					includes or excludes should contain a collection of database elements in the following format
					
					<database name="fooDB"/>
			-->
			<!-- 
			Sample database entry
			===============================
			<sqlServer name="Production Database"
			           connectionString="Server=.\SQLExpress;Database=master;Trusted_Connection=True;"
			           includeSystemDatabases="false">
				
				<includes>
					<database name="fooDB"/>
					<database name="BarDB"/>
					<database name="BazDB"/>
				</includes>

			</sqlServer>
			-->

		</sqlServers>
		<!-- List of Azure SQL databases. One per Azure SQL Database, not per Azure SQL Server. -->
		<azure>
			<!--
				name [Required]
				==========
				Unique (within this set) name of the Azure SQL Databases to be monitored. This name appears on the New Relic dashboard.
				##########
    
				connectionString [Required]
				======
				Connection string to the Azure SQL Database.
				######
			  -->
			<!-- 
			Sample database entry
			===============================
			
			<database name="Azure Cloud Database"
					  connectionString="Server=tcp:{Azure SQL Server Name}.database.windows.net,1433;Database={Azure SQL Database Name};User ID={Azure SQL User Name}@{Azure SQL Server Name};Password={Password for User Name};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
			-->
		</azure>
	</newRelic>
	
	<!--
	Network Settings
	================
	
	These settings are optional, but necessary to make the plugin work in environments that use a proxy server to communicate with the outside world.
	
	Example 1 - default credentials
		<system.net>
			<defaultProxy enabled="true" useDefaultCredentials="true">
				<proxy usesystemdefault="True" bypassonlocal="True" />
			</defaultProxy>
		</system.net>
	
	
	Example 2 - alternate credentials
		<system.net>
			<defaultProxy enabled="true" useDefaultCredentials="false">
				<module type="NewRelic.Platform.Binding.DotNET.CustomProxy, NewRelic.Platform.Binding.DotNET"/>
			</defaultProxy>
		</system.net>
	
		Which will also require that you add proxyAddress, username and password to appSettings above. 
		For example these values could be:
		
		<add key="proxyAddress" value="http://proxyaddress"/>
		<add key="username" value="OFFICE\jdoe"/>
		<add key="password" value="p@ssw0rd"/>
	-->

</configuration>