<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="newRelic" type="NewRelic.Microsoft.SqlServer.Plugin.Configuration.NewRelicConfigurationSection, NewRelic.Microsoft.SqlServer.Plugin" />
  </configSections>
  <newRelic>
    <!-- 
    licenseKey [Required]
    ==========
    Specify your New Relic license key.
    ##########
    
    useSsl [Default: false]
    ======
    true: communicate with the collector over HTTPS
    false: communicate with the collector over HTTP
    ######

    pollIntervalSeconds [Default: 60]
    ======
    Specify the frequency of the polling in seconds.
    ######
    -->
    <service licenseKey="YOUR_KEY_HERE" pollIntervalSeconds="60" useSsl="false" />
    <sqlServers>
      <!-- 
      name [Required]
      ==========
      Unique (within this set) name of the SQL Server to be monitored. This name appears on the New Relic dashboard.
      ##########
    
      connectionString [Required]
      ======
      Connection string to the SQL Server.
      ######
      -->
      <sqlServer name="SQLExpress Local" connectionString="Server=.\SQLExpress;Database=master;Trusted_Connection=True;" />
      <sqlServer name="Test Server" connectionString="Server=.,11433;Database=master;Trusted_Connection=True;" />
    </sqlServers>
  </newRelic>
</configuration>
